In [ ]:
import pandas as pd

#### 1. Read CSV file.

In [ ]:
titanic = pd.read_csv("datasets/titanic.csv")
titanic

#### 2. Display Options

In [ ]:
# pandas default max row displaying
pd.options.display.max_rows

In [ ]:
# pandas default min row displaying
pd.options.display.min_rows

In [ ]:
# change the default
pd.options.display.min_rows = 30
titanic

In [ ]:
# make pandas display all the rows of the titanic.csv
# pd.options.display.max_rows = 891
# titanic

In [ ]:
# get first rows
# by default head() takes first 5 rows, but we can change it.
head = titanic.head(10) 
head

In [ ]:
# get last rows
# by default tail() takes last 5 rows, but we can change it.
tail = titanic.tail(7)
tail

#### 3. Data Inspection

In [ ]:
titanic.info()

In [ ]:
# describe() method provide some summary statistic on numerical columns
# count is the number of NON missing values
# the mean in susrvived column is the survivor rate in %
titanic.describe()

In [ ]:
# get the columns with non numerical values
# unique stands for the unique values in this column, most frequents value is "male"=577
titanic.describe(include="O")

#### 4. Built-in Functions

In [ ]:
type(titanic)

In [ ]:
# how many rows the DF has
len(titanic)

In [ ]:
# round all numerical values to, two digits after the decimal point
round(titanic, 2)

 - Python Built-in functions are limited for the DataFrame, so we use some DF attributes and methods 
    - DataFrame Attributes:

In [22]:
# shape, showe how many rows and how many columns
titanic.shape

(891, 9)

In [23]:
# shows how many elements we have = (891 rows * 9 columns = 8019)
titanic.size

8019

In [24]:
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [25]:
# displays all column labels
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

  - DataFrames Methods:

In [26]:
# 1st tow rows
titanic.head(n = 2)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C

In [27]:
# displays minimun value of all numeric value columns
titanic.min(numeric_only=True)

survived    0.00
pclass      1.00
age         0.42
sibsp       0.00
parch       0.00
fare        0.00
dtype: float64

  - Method Chaining

In [30]:
# average estimation
titanic.mean(numeric_only=True)

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [31]:
# sort the values from lowes to highest
titanic.mean(numeric_only=True).sort_values()

parch        0.381594
survived     0.383838
sibsp        0.523008
pclass       2.308642
age         29.699118
fare        32.204208
dtype: float64

In [32]:
# only first, two lables
titanic.mean(numeric_only=True).sort_values().head(2)

parch       0.381594
survived    0.383838
dtype: float64